<a href="https://colab.research.google.com/github/lim-jr/ESAA/blob/main/%EC%B7%A8%ED%95%A9_%EB%AF%B8%EB%8B%88%ED%94%8C%EC%A0%9D2_%EC%A0%84%EC%B2%98%EB%A6%AC%EB%B0%98%EC%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 데이터셋 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
train = pd.read_csv("/content/train 지역변수 추가.csv")
test = pd.read_csv("/content/test 지역변수 추가.csv")
sb = pd.read_csv("/content/submission_sample.csv")

In [ ]:
test.head(3)

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,hospital_count
0,2,NaN,incheon,139,19981125.0,300.0,general_hospital,6.682486e+10,0.000000e+00,6.565709e+10,...,5.068443e+10,3.714334e+10,4.720000e+09,4.690000e+09,1.608540e+10,8.944587e+09,693.0,693.0,same,1.0
1,5,NaN,jeju,149,20160309.0,44.0,hospital,3.495758e+10,0.000000e+00,3.259270e+10,...,4.209828e+10,2.420000e+10,2.521009e+10,1.830000e+10,3.789135e+09,0.000000e+00,379.0,371.0,same,1.0
2,6,NaN,jeonnam,103,19890427.0,276.0,general_hospital,2.326031e+10,2.542571e+09,2.308749e+10,...,2.777589e+10,2.182278e+10,0.000000e+00,0.000000e+00,0.000000e+00,1.638540e+10,NaN,NaN,NaN,3.0

In [ ]:
train.head(3)

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,hospital_count
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.0,3.961135e+09,...,222876855.0,0.0,536116887.0,390000000.0,2.619290e+09,1.271224e+09,62.0,64.0,same,14.0
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same,5.0
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,515483669.0,4.472197e+08,...,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,234.0,1.0,same,17.0

In [ ]:
train.describe()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count
count,301.000000,301.000000,3.010000e+02,296.000000,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,...,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,2.930000e+02,291.000000,288.000000,299.000000
mean,219.056478,81.039867,2.005013e+07,145.709459,1.288175e+10,2.014903e+09,1.033244e+10,5.654115e+09,2.696151e+08,5.115870e+08,...,8.146026e+09,3.860584e+09,1.510050e+09,4.471247e+09,2.709979e+09,5.273919e+09,9.786279e+08,142.546392,134.326389,10.230769
std,121.234869,50.969714,8.893815e+04,118.923890,2.043543e+10,7.460271e+09,1.493886e+10,8.083343e+09,8.023701e+08,1.060379e+09,...,1.255800e+10,6.797242e+09,2.953412e+09,7.659580e+09,4.564001e+09,1.081259e+10,4.688798e+09,160.191073,151.061786,6.221061
min,1.000000,1.000000,1.978012e+07,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.014780e+10,-2.781507e+09,0.000000,0.000000,1.000000
25%,112.000000,37.000000,2.001102e+07,52.750000,3.252112e+09,0.000000e+00,2.758201e+09,1.626053e+09,8.217133e+06,8.013395e+07,...,1.283220e+09,2.855741e+08,0.000000e+00,2.557878e+07,0.000000e+00,1.017573e+09,0.000000e+00,53.500000,53.750000,5.000000
50%,230.000000,75.000000,2.007113e+07,136.500000,5.524218e+09,2.104105e+08,4.684074e+09,2.659892e+09,4.363764e+07,1.831965e+08,...,3.784553e+09,1.454050e+09,8.542549e+07,1.969747e+09,1.100000e+09,2.894970e+09,0.000000e+00,80.000000,79.000000,10.000000
75%,321.000000,123.000000,2.011102e+07,193.000000,1.274839e+10,9.105278e+08,1.077876e+10,6.363400e+09,2.050331e+08,4.203330e+08,...,8.465053e+09,4.364714e+09,1.567967e+09,4.905441e+09,3.360000e+09,5.370285e+09,1.014447e+08,181.500000,170.000000,15.500000
max,428.000000,178.000000,2.017061e+07,656.000000,1.510000e+11,9.850332e+10,1.030000e+11,6.403559e+10,9.144171e+09,8.686380e+09,...,8.508858e+10,6.846878e+10,1.759375e+10,5.150388e+10,3.256147e+10,1.250000e+11,6.852730e+10,1200.000000,1200.000000,20.000000

### # 변수설명
inst_id - 각 파일에서의 병원 고유 번호   
OC – 영업/폐업 분류, 2018년 폐업은 2017년 폐업으로 간주함    
sido – 병원의 광역 지역 정보    
sgg – 병원의 시군구 자료     
openDate – 병원 설립일    
bedCount - 병원이 갖추고 있는 병상의 수       
instkind – 병원, 의원, 요양병원, 한의원, 종합병원 등 병원의 종류    
·        종합병원 : 입원환자 100명 이상 수용 가능    
·        병원 : 입원 환자 30명 이상 100명 미만 수용 가능     
·        의원 : 입원 환자 30명 이하 수용 가능      
·        한방 병원(한의원) : 침술과 한약으로 치료하는 의료 기관.    
revenue1 – 매출액 / salescost1 – 매출원가      
sga1 - 판매비와 관리비 / salary1 – 급여   
noi1 – 영업외수익 / noe1 – 영업외비용      
Interest1 – 이자비용 / ctax1 – 법인세비용     
Profit1 – 당기순이익 / liquidAsset1 – 유동자산      
quickAsset1 – 당좌자산 / receivableS1 - 미수금(단기)       
inventoryAsset1 – 재고자산 / nonCAsset1 – 비유동자산     
tanAsset1 – 유형자산 / OnonCAsset1 - 기타 비유동자산       
receivableL1 – 장기미수금 / debt1 – 부채총계      
liquidLiabilities1 – 유동부채 / shortLoan1 – 단기차입금    
NCLiabilities1 – 비유동부채 / longLoan1 – 장기차입금    
netAsset1 – 순자산총계 / surplus1 – 이익잉여금    
employee1 – 고용한 총 직원의 수     
ownerChange – 대표자의 변동

# 2. EDA 및 전처리

In [ ]:
train.isnull().sum()

inst_id                0
OC                     0
sido                   0
sgg                    0
openDate               0
bedCount               5
instkind               1
revenue1               8
salescost1             8
sga1                   8
salary1                8
noi1                   8
noe1                   8
interest1              8
ctax1                  8
profit1                8
liquidAsset1           8
quickAsset1            8
receivableS1           8
inventoryAsset1        8
nonCAsset1             8
tanAsset1              8
OnonCAsset1            8
receivableL1           8
debt1                  8
liquidLiabilities1     8
shortLoan1             8
NCLiabilities1         8
longLoan1              8
netAsset1              8
surplus1               8
revenue2               8
salescost2             8
sga2                   8
salary2                8
noi2                   8
noe2                   8
interest2              8
ctax2                  8
profit2                8
liquidAsset2           8
quickAsset2            8
receivableS2           8
inventoryAsset2        8
nonCAsset2             8
tanAsset2              8
OnonCAsset2            8
receivableL2           8
debt2                  8
liquidLiabilities2     8
shortLoan2             8
NCLiabilities2         8
longLoan2              8
netAsset2              8
surplus2               8
employee1             10
employee2             13
ownerChange           12
hospital_count         2
dtype: int64

In [ ]:
test.isnull().sum()

inst_id                 0
OC                    127
sido                    0
sgg                     0
openDate                1
bedCount                8
instkind                2
revenue1                2
salescost1              2
sga1                    2
salary1                 2
noi1                    2
noe1                    2
interest1               2
ctax1                   2
profit1                 2
liquidAsset1            2
quickAsset1             2
receivableS1            2
inventoryAsset1         2
nonCAsset1              2
tanAsset1               2
OnonCAsset1             2
receivableL1            2
debt1                   2
liquidLiabilities1      2
shortLoan1              2
NCLiabilities1          2
longLoan1               2
netAsset1               2
surplus1                2
revenue2                2
salescost2              2
sga2                    2
salary2                 2
noi2                    2
noe2                    2
interest2               2
ctax2                   2
profit2                 2
liquidAsset2            2
quickAsset2             2
receivableS2            2
inventoryAsset2         2
nonCAsset2              2
tanAsset2               2
OnonCAsset2             2
receivableL2            2
debt2                   2
liquidLiabilities2      2
shortLoan2              2
NCLiabilities2          2
longLoan2               2
netAsset2               2
surplus2                2
employee1               8
employee2              15
ownerChange            15
hospital_count          2
dtype: int64

### (1) 레이블 데이터 : 인코딩

In [ ]:
from sklearn.preprocessing import LabelEncoder

# OC : 'close': 0, 'open': 1 처리해주기
print(train['OC'].value_counts()) #인코딩전 확인
encoder1 = LabelEncoder()
train['OC']=encoder1.fit_transform(train['OC'])
print(train['OC'].value_counts()) #인코딩후 확인

# 테스트데이터셋은 OC가 모두 NaN이므로 레이블인코딩 처리x

open      286
 close     15
Name: OC, dtype: int64
1    286
0     15
Name: OC, dtype: int64

### (2) 피처 데이터 : 결측치 처리 및 인코딩

* 문자열 피처의 결측치는 Not_sure 로 대체.
* 숫자형 피처의 결측치는 -9999 로 대체.

#### (2)-1. ints_id, sgg

In [ ]:
# inst_id : 인덱스 중복이므로 열 버리기
# sgg : sido와 정보가 겹치므로 열 버리기
train.drop(['inst_id','sgg'],axis=1,inplace=True)
test.drop(['inst_id','sgg'],axis=1,inplace=True)

#### (2)-2. 문자열 피처

In [ ]:
## 문자열 피처에서 결측치가 존재할 경우, 'Not_sure'로 대체
# 문자열 피처중 instkind, ownerChange 에서 결측치 존재

train['instkind'] = train['instkind'].fillna('Not_sure')
test['instkind'] = test['instkind'].fillna('Not_sure')

train['ownerChange'] = train['ownerChange'].fillna('Not_sure')
test['ownerChange'] = test['ownerChange'].fillna('Not_sure')

#### (2)-3. 숫자형 피처중 금융변수

In [ ]:
## 숫자형 피처중 금융변수에서 결측치(NaN) 존재

# open&같은행번호에서 공통적으로 8개의 결측치가 나타난다. 
print(train[train['revenue1'].isnull()]['OC'])
print(train[train['shortLoan2'].isnull()]['OC'])

# 같은행번호에서 공통적으로 2개의 결측치가 나타난다.
print(test[test['revenue1'].isnull()])
print(test[test['shortLoan2'].isnull()])

1      1
14     1
32     1
55     1
60     1
248    1
257    1
258    1
Name: OC, dtype: int64
1      1
14     1
32     1
55     1
60     1
248    1
257    1
258    1
Name: OC, dtype: int64
    OC     sido    openDate  bedCount          instkind  revenue1  salescost1  \
15 NaN    busan  19950330.0     226.0  general_hospital       NaN         NaN
56 NaN  jeonbuk  20121218.0     539.0  nursing_hospital       NaN         NaN

    sga1  salary1  noi1  ...  liquidLiabilities2  shortLoan2  NCLiabilities2  \
15   NaN      NaN   NaN  ...                 NaN         NaN             NaN
56   NaN      NaN   NaN  ...                 NaN         NaN             NaN

    longLoan2  netAsset2  surplus2  employee1  employee2  ownerChange  \
15        NaN        NaN       NaN      566.0      566.0         same
56        NaN        NaN       NaN      250.0      200.0         same

    hospital_count
15             2.0
56             6.0

[2 rows x 57 columns]
    OC     sido    openDate  bedCount          instkind  revenue1  salescost1  \
15 NaN    busan  19950330.0     226.0  general_hospital       NaN         NaN
56 NaN  jeonbuk  20121218.0     539.0  nursing_hospital       NaN         NaN

    sga1  salary1  noi1  ...  liquidLiabilities2  shortLoan2  NCLiabilities2  \
15   NaN      NaN   NaN  ...                 NaN         NaN             NaN
56   NaN      NaN   NaN  ...                 NaN         NaN             NaN

    longLoan2  netAsset2  surplus2  employee1  employee2  ownerChange  \
15        NaN        NaN       NaN      566.0      566.0         same
56        NaN        NaN       NaN      250.0      200.0         same

    hospital_count
15             2.0
56             6.0

[2 rows x 57 columns]

In [ ]:
#NAN인 관측치 처리(dropna)
fin_list=['revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2',
       'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2']
train.dropna(subset=fin_list, axis=0,inplace=True)
test.dropna(subset=fin_list, axis=0,inplace=True)
#0인 관측치 처리
train[fin_list]=train[fin_list].replace(0 ,-9999)
test[fin_list]=test[fin_list].replace(0 ,-9999)

In [ ]:
## 확인
train.describe()
test.describe()
# 최소값이 -9999로 나타난다.

,OC,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count
count,0.0,1.240000e+02,117.000000,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,...,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,117.000000,110.000000,123.000000
mean,NaN,2.005109e+07,169.205128,1.824446e+10,3.973317e+09,1.340410e+10,7.415083e+09,5.175509e+08,8.704298e+08,3.168246e+08,...,1.189851e+10,5.633430e+09,2.181709e+09,6.495024e+09,4.482679e+09,6.116177e+09,1.648468e+09,200.769231,185.700000,5.357724
std,NaN,8.797709e+04,122.321336,3.133530e+10,1.419948e+10,2.054481e+10,1.210043e+10,1.193139e+09,1.804462e+09,4.587786e+08,...,1.971182e+10,9.662048e+09,4.952451e+09,1.203673e+10,7.517022e+09,9.813462e+09,4.779446e+09,277.607618,242.554885,3.677869
min,NaN,1.976041e+07,0.000000,-9.999000e+03,-9.999000e+03,-9.999000e+03,-9.999000e+03,-9.999000e+03,-9.999000e+03,-9.999000e+03,...,-9.999000e+03,-9.999000e+03,-9.999000e+03,-9.999000e+03,-9.999000e+03,-2.955957e+09,-8.600000e+09,16.000000,0.000000,1.000000
25%,NaN,2.000088e+07,94.000000,3.235889e+09,-9.999000e+03,3.083860e+09,1.666742e+09,1.641094e+07,8.365552e+07,5.259163e+07,...,1.679896e+09,3.914156e+08,-9.999000e+03,1.321368e+08,-9.999000e+03,9.492656e+08,-9.999000e+03,59.000000,54.250000,2.000000
50%,NaN,2.007107e+07,154.000000,6.637116e+09,1.896923e+08,5.716502e+09,3.263054e+09,5.319171e+07,2.315190e+08,1.507859e+08,...,4.494217e+09,1.554506e+09,3.000000e+08,2.030000e+09,1.750000e+09,2.427139e+09,-9.999000e+03,104.000000,97.000000,4.000000
75%,NaN,2.011345e+07,212.000000,1.704039e+10,1.192329e+09,1.445243e+10,7.198103e+09,3.714592e+08,6.633503e+08,3.384277e+08,...,1.412031e+10,6.586241e+09,2.650000e+09,5.700000e+09,4.857048e+09,5.881965e+09,6.935165e+08,222.000000,231.750000,7.500000
max,NaN,2.017053e+07,771.000000,1.810000e+11,1.160000e+11,1.270000e+11,8.239561e+10,7.302719e+09,1.149680e+10,2.573804e+09,...,1.310000e+11,5.241427e+10,3.714334e+10,7.855654e+10,3.620288e+10,4.924492e+10,2.561787e+10,1816.000000,1547.000000,13.000000

#### (2)-4. bedcount, employee

In [ ]:
## 숫자형 피처의 결측치는 -9999로 대체
train['bedCount']=train['bedCount'].fillna(-9999)
test['bedCount']=test['bedCount'].fillna(-9999)

train['employee1']=train['employee1'].fillna(-9999)
test['employee1']=test['employee1'].fillna(-9999)

train['employee2']=train['employee2'].fillna(-9999)
test['employee2']=test['employee2'].fillna(-9999)

#### (2)-5. 피처 인코딩 처리

In [ ]:
## 문자열 피처 인코딩 처리
## 전처리 후 마지막에

# sido는 레이블인코딩 (sido의 개별관측치가 많아 원핫인코딩을 하게 되면 변수개수가 너무많아지기 때문.)
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train['sido'] = encoder.fit_transform(train['sido'])
test['sido'] = encoder.fit_transform(test['sido'])

# instkind, ownerChange는 원핫인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [ ]:
## 확인
train.head(3)
# sido는 숫자형변수로, instkind, ownerChange는 더미변수로 잘 바뀜.

,OC,sido,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,instkind_clinic,instkind_dental_clinic,instkind_general_hospital,instkind_hospital,instkind_nursing_hospital,instkind_traditional_clinic,instkind_traditional_hospital,ownerChange_Not_sure,ownerChange_change,ownerChange_same
0,1,2,20071228,175.0,4.217530e+09,-9999.0,3.961135e+09,2.033835e+09,15652441.0,1.523624e+07,...,0,0,0,0,1,0,0,0,0,1
2,1,8,20161228,468.0,1.004522e+09,515483669.0,4.472197e+08,2.964023e+08,76156.0,3.000000e+04,...,0,0,0,0,1,0,0,0,0,1
3,1,10,20000814,353.0,7.250734e+10,-9999.0,7.067740e+10,3.178605e+10,506223059.0,1.259568e+09,...,0,0,1,0,0,0,0,0,0,1

# 3. 파생변수 만들기

### (1) 금융변수

In [ ]:
## 성장성
# 매출액 증가율 = 당기매출액/ 전기매출액*100 -100
test['revenueGrowth']=(test['revenue1']/test['revenue2'])*100-100
# 총자산 증가율 = 당기총자산/ 전기총자산*100 -100
test['netAssetGrowth']=(test['netAsset1']+test['debt1'])/(test['netAsset2']+test['debt2'])*100 -100

## 수익성
# 자기자본순이익률(ROE)=당기순이익/자기자본*100
test['ROE']=(test['profit1']/test['netAsset1'])*100
# 매출순이익률 = 당기순이익/매출액*100
test['ROS'] = test.profit1/test.revenue1*100
# 배당성향 = 배당금/당기순이익
test['dividendPayoutRatio'] = (test.profit1-test.surplus1)/test.profit1
# 이자보상비율 = 영업이익/이자비용*100
# (영업손익은 매출액 등의 영업수익으로부터 매출원가ㆍ판매비와관리비 등의 영업비용을 차감한 개념, 영업 외 이익과 비용도 차감)
test['interestCoverageRatio'] = (test.revenue1-test.salescost1-test.sga1-test.noi1-test.noe1)/test.interest1*100

## 안정성
# 유동비율 = 유동자산/유동부채*100 (바람직: 200%이상)
test['liquidRatio']=(test['liquidAsset1']/test['liquidLiabilities1'])*100
# 당좌비율 = 당좌자산/유동부채*100 (바람직: 100%이상)
test['quickRatio']=(test['quickAsset1']/test['liquidLiabilities1'])*100
# 부채비율 = 부채/자본*100
test['debtRatio']=(test['debt1']/(test['debt1']+test['netAsset1']))*100
# 자기자본비율 = 자기자본/총자본*100
test['netAssetRatio']=test.netAsset1/(test.debt1+test.netAsset1)*100

## 활동성
# 재고자산회전율 = 매출원가/평균재고자산
test['inventoryTurnover']=test.salescost1/((test.inventoryAsset1+test.inventoryAsset2)/2)

In [ ]:
## 확인
fin_Ratio_list = ['revenueGrowth', 'netAssetGrowth',
    'ROE', 'ROS', 'dividendPayoutRatio', 'interestCoverageRatio',
    'liquidRatio', 'quickRatio', 'debtRatio','netAssetRatio',
    'inventoryTurnover']
train[fin_Ratio_list].describe()

fin_Ratio_list = ['revenueGrowth', 'netAssetGrowth',
    'ROE', 'ROS', 'dividendPayoutRatio', 'interestCoverageRatio',
    'liquidRatio', 'quickRatio', 'debtRatio','netAssetRatio',
    'inventoryTurnover']
test[fin_Ratio_list].describe()
# min값에 0이 없고, max값에 inf가 없다.

,revenueGrowth,netAssetGrowth,ROE,ROS,dividendPayoutRatio,interestCoverageRatio,liquidRatio,quickRatio,debtRatio,netAssetRatio,inventoryTurnover
count,1.250000e+02,1.250000e+02,1.250000e+02,1.250000e+02,125.000000,1.250000e+02,125.000000,125.000000,125.000000,125.000000,125.000000
mean,-3.370253e+06,-5.693214e+06,6.498744e+05,-2.232017e+05,-5.588830,5.157842e+05,154.130059,149.951394,59.814847,40.185153,-4116.045756
std,1.829472e+07,2.212131e+07,3.579168e+06,2.495400e+06,27.685080,6.221739e+06,263.975141,260.520579,22.571632,22.571632,22000.901454
min,-1.351832e+08,-1.404061e+08,-3.411951e+06,-2.789942e+07,-255.104334,-6.325280e+06,3.026015,3.026015,2.391772,-34.901667,-172634.687569
25%,-3.135894e+00,-3.412206e+00,7.488287e-01,1.098195e-01,-3.335616,-5.368377e+02,46.516218,44.726958,49.160430,25.266250,-0.000007
50%,2.059830e+00,1.250984e+00,5.012549e+00,1.950740e+00,0.999992,1.079300e+01,85.002275,81.073031,59.451007,40.548993,4.837668
75%,8.952727e+00,7.579308e+00,1.058053e+01,4.674831e+00,1.000062,1.332663e+02,145.171720,141.404901,74.733750,50.839570,20.370486
max,9.362249e+03,1.498910e+02,2.501632e+07,9.991707e+01,18.544894,6.912322e+07,1843.149250,1843.149250,134.901667,97.608228,3019.942354

### (2) 중소병원/대형병원

In [ ]:
train.loc[train.bedCount>300,'hospital_size']=1
train.loc[train.bedCount<=300,'hospital_size']=0

### (3) 지역 내 병원종류수

In [ ]:
#  이건 모델 돌리고나서 만들기

# 4. 피처 정규화

* 표준화 : 정규분포를 가진 값으로 변환 
            (x-mean)/sd
* 정규화 : 개별 데이터의 크기를 모두 똑같은 단위로 변경
            (x-min)/(max-min)

In [ ]:
#금융변수 정규화
from sklearn.preprocessing import MinMaxScaler
train.loc[:,'revenue1':'surplus2'] = MinMaxScaler().fit_transform(train.loc[:,'revenue1':'surplus2'])
train.loc[:,'revenueGrowth':'inventoryTurnover'] = MinMaxScaler().fit_transform(train.loc[:,'revenueGrowth':'inventoryTurnover'])
test.loc[:,'revenue1':'surplus2'] = MinMaxScaler().fit_transform(test.loc[:,'revenue1':'surplus2'])
test.loc[:,'revenueGrowth':'inventoryTurnover'] = MinMaxScaler().fit_transform(test.loc[:,'revenueGrowth':'inventoryTurnover'])

In [ ]:
#전체 데이터 확인
pd.set_option('display.max_columns', None) # 전체 열 보기

In [ ]:
#정규화 여부 확인
train.describe()
#금융변수의 최솟값은 0 최댓값은 1로 정규화가 잘 되었다고 볼 수 있다.

,OC,sido,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count,instkind_Not_sure,instkind_clinic,instkind_dental_clinic,instkind_general_hospital,instkind_hospital,instkind_nursing_hospital,instkind_traditional_clinic,instkind_traditional_hospital,ownerChange_Not_sure,ownerChange_change,ownerChange_same,revenueGrowth,netAssetGrowth,ROE,ROS,dividendPayoutRatio,interestCoverageRatio,liquidRatio,quickRatio,debtRatio,netAssetRatio,inventoryTurnover,hospital_size
count,293.000000,293.000000,2.930000e+02,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,292.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000
mean,0.948805,7.098976,2.005059e+07,-29.419795,0.085310,0.020455,0.100315,0.088297,0.029486,0.058896,0.065777,0.027939,0.403123,0.082615,0.081710,0.049501,0.055839,0.073120,0.067526,0.033778,0.003413,0.101103,0.110554,0.088420,0.083310,0.064354,0.164165,0.030536,0.085468,0.021276,0.093552,0.081973,0.055103,0.063643,0.066957,0.024482,0.301438,0.078955,0.078229,0.037345,0.058698,0.063733,0.059212,0.036873,0.003413,0.095736,0.056385,0.085829,0.086814,0.083227,0.175144,0.052730,-140.389078,-252.136519,10.308219,0.003413,0.058020,0.003413,0.112628,0.300341,0.481229,0.013652,0.027304,0.034130,0.143345,0.822526,0.989117,0.981434,0.477102,0.008282,0.654460,0.403687,0.996390,0.996388,0.112026,0.887974,0.989916,0.078498
std,0.220771,4.203769,8.854337e+04,1321.050492,0.135334,0.075736,0.145037,0.126232,0.087747,0.122074,0.096381,0.088509,0.093219,0.146840,0.145809,0.103269,0.123404,0.109648,0.100931,0.092803,0.058421,0.148345,0.164430,0.160649,0.142637,0.114226,0.079527,0.060244,0.138321,0.077894,0.137486,0.120865,0.130693,0.127094,0.103876,0.087015,0.077569,0.147377,0.146660,0.089047,0.137406,0.100582,0.093361,0.100187,0.058421,0.147587,0.099275,0.167867,0.148718,0.140166,0.074494,0.065753,1661.052591,1933.140325,6.208923,0.058421,0.234182,0.058421,0.316678,0.459191,0.500502,0.116239,0.163246,0.181873,0.351024,0.382723,0.071643,0.098943,0.046431,0.058149,0.046015,0.053549,0.058409,0.058409,0.074704,0.074704,0.076169,0.269414
min,0.000000,0.000000,1.978012e+07,-9999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9999.000000,-9999.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.000000,2.001122e+07,50.000000,0.021537,0.000000,0.026779,0.025393,0.000900,0.009226,0.017834,0.000000,0.385679,0.016818,0.016287,0.000000,0.002025,0.018590,0.017309,0.000097,0.000000,0.022528,0.012979,0.000000,0.007789,0.000000,0.134557,0.021290,0.019937,0.000000,0.022904,0.021997,0.001601,0.007335,0.012123,0.000000,0.283555,0.011523,0.011401,0.000000,0.001139,0.015119,0.014346,0.000000,0.000000,0.015081,0.004171,0.000000,0.000497,0.000000,0.145819,0.039006,51.000000,50.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.999993,0.999999,0.477187,0.004800,0.657435,0.403500,0.999797,0.999795,0.087355,0.869757,0.999609,0.000000
50%,1.000000,8.000000,2.007120e+07,132.000000,0.036584,0.002136,0.045477,0.041538,0.004773,0.021091,0.038622,0.000368,0.392537,0.035431,0.035266,0.015318,0.011652,0.039108,0.035573,0.003553,0.000000,0.051417,0.044567,0.011545,0.037024,0.027642,0.145921,0.021290,0.036535,0.002002,0.042388,0.038600,0.010722,0.019442,0.036336,0.000364,0.290613,0.030241,0.030212,0.007101,0.013560,0.034094,0.031438,0.003119,0.000000,0.044478,0.021237,0.004856,0.038245,0.033783,0.158754,0.039006,78.000000,76.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.999993,0.999999,0.477187,0.004800,0.657435,0.403502,0.999799,0.999797,0.102396,0.897604,0.999616,0.000000
75%,1.000000,10.000000,2.011102e+07,185.000000,0.084427,0.009244,0.104648,0.099373,0.022423,0.048391,0.078917,0.015794,0.409931,0.078935,0.078338,0.049251,0.050894,0.083161,0.077917,0.020211,0.000000,0.108861,0.137536,0.107605,0.089090,0.080902,0.164444,0.022212,0.087277,0.009727,0.099682,0.090799,0.040136,0.054091,0.076876,0.011911,0.305859,0.072493,0.072181,0.038390,0.044629,0.071813,0.067316,0.026665,0.000000,0.099485,0.063748,0.089121,0.095244,0.103190,0.175808,0.040429,164.000000,153.000000,17.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.999993,0.999999,0.477187,0.004800,0.657435,0.403503,0.999803,0.999801,0.130243,0.912645,0.999626,0.000000
max,1.000000,15.000000,2.017061e+07,656.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1200.000000,1200.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
## 정규화 여부 확인
test[fin_list].describe()
#금융변수의 최솟값은 0 최댓값은 1로 정규화가 잘 되었다고 볼 수 있다.

,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2
count,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000
mean,0.100798,0.034253,0.105544,0.089994,0.070872,0.075711,0.123099,0.049759,0.361722,0.100707,0.100817,0.040597,0.098088,0.123473,0.127320,0.053719,0.008066,0.103702,0.099412,0.076922,0.079281,0.159105,0.198153,0.248473,0.098028,0.034040,0.099214,0.084051,0.067287,0.062870,0.082390,0.060995,0.321808,0.073959,0.073571,0.038066,0.102894,0.114223,0.118249,0.049403,0.008000,0.090828,0.107479,0.058738,0.082680,0.123821,0.173793,0.299506
std,0.173123,0.122409,0.161770,0.146858,0.163383,0.156953,0.178249,0.133845,0.107036,0.171446,0.173263,0.103888,0.175211,0.172095,0.180480,0.140662,0.089440,0.156321,0.166509,0.147871,0.127888,0.222881,0.192731,0.130284,0.171531,0.121632,0.157195,0.141996,0.162093,0.135143,0.141098,0.167359,0.106468,0.139248,0.139530,0.102736,0.187447,0.174273,0.184549,0.137655,0.089443,0.150472,0.184340,0.133333,0.153224,0.207636,0.187994,0.139677
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.017878,0.000000,0.024282,0.020229,0.002249,0.007277,0.020437,0.000000,0.339089,0.018708,0.017983,0.000058,0.000690,0.035152,0.036210,0.000651,0.000000,0.016860,0.008374,0.000000,0.009967,0.015137,0.104341,0.202021,0.017464,0.000000,0.021837,0.017291,0.001612,0.004230,0.010134,0.000000,0.291260,0.006976,0.007212,0.000000,0.000000,0.022859,0.024848,0.000000,0.000000,0.012824,0.007468,0.000000,0.001682,0.000000,0.074811,0.251330
50%,0.036669,0.001635,0.045012,0.039602,0.007285,0.020139,0.058589,0.003658,0.347103,0.039535,0.039810,0.009813,0.023025,0.055828,0.056563,0.006857,0.000000,0.040919,0.033249,0.015500,0.034484,0.077199,0.130986,0.202021,0.034967,0.001272,0.042656,0.036741,0.007746,0.016264,0.034642,0.000000,0.299734,0.028670,0.028150,0.008284,0.017692,0.046116,0.048234,0.004665,0.000000,0.034307,0.029658,0.008077,0.025841,0.048339,0.103123,0.251330
75%,0.094146,0.010279,0.113799,0.087360,0.050867,0.057700,0.131493,0.025970,0.365174,0.097231,0.091185,0.044895,0.106946,0.118167,0.127766,0.031843,0.000000,0.114505,0.105951,0.073035,0.084403,0.191767,0.189977,0.230283,0.094131,0.008949,0.103459,0.089913,0.039511,0.063047,0.078119,0.019482,0.323675,0.078154,0.073210,0.040938,0.099745,0.112352,0.105054,0.028809,0.000000,0.107789,0.125658,0.071345,0.072559,0.134162,0.169306,0.271598
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
#정규화 여부 확인
test[fin_Ratio_list].describe()
#금융변수의 최솟값은 0 최댓값은 1로 정규화가 잘 되었다고 볼 수 있다

,revenueGrowth,netAssetGrowth,ROE,ROS,dividendPayoutRatio,interestCoverageRatio,liquidRatio,quickRatio,debtRatio,netAssetRatio,inventoryTurnover
count,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000
mean,0.975001,0.959451,0.142880,0.991996,0.911808,0.090672,0.082116,0.079845,0.433349,0.566651,0.959375
std,0.135323,0.157552,0.125902,0.089442,0.101170,0.082463,0.143455,0.141578,0.170339,0.170339,0.125251
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.999931,0.999999,0.120020,0.999996,0.920042,0.083829,0.023634,0.022662,0.352945,0.454064,0.982807
50%,0.999931,0.999999,0.120020,0.999996,0.935885,0.083836,0.044549,0.042414,0.430604,0.569396,0.982835
75%,0.999931,0.999999,0.120020,0.999997,0.935886,0.083837,0.077248,0.075201,0.545936,0.647055,0.982923
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# 5. 모델 돌리기

## (1) RandomForest

## (2) XGBoost

## (3) LightGBM

In [ ]:
X_features = train.drop(columns = 'OC',axis=1)
y_labels = train['OC']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_features, y_labels, test_size=0.2, random_state=156)

In [ ]:
# LightGBM의 파이썬 패키지인 lightgbm에서 LGBMClassifier 임포트
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# 앞서 XGBoost와 동일하게 n_estimators는 400설정
lgbm_wrapper = LGBMClassifier(n_estimators=400)

# LightGBM도 XGBoost와 동일하게 조기중단 수행가능
evals = [(X_test, y_test)]
lgbm_wrapper.fit(X_train, y_train,
                 early_stopping_rounds=100, eval_metric="logloss",
                 eval_set=evals, verbose=True)
preds = lgbm_wrapper.predict(X_test)
pred_proba = lgbm_wrapper.predict_proba(X_test)[:, 1]

In [ ]:
type(train['ownerChange'])

In [ ]:
train['ownerChange'].value_counts()

In [ ]:
train[train['ownerChange'].isnull()]

In [ ]:
train['ownerChange'].isna().sum()